.header-main-div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    padding-top: 0.25rem;
}

// Name and Logo Div

.name-and-logo-div{
    display: flex;
    padding-left: 2rem;
}

.name-div{
    font-size: 4rem;
}

.logo-div{
    padding-top: 1.5rem;
    padding-left: 1rem;
}

.logo{
    height: 7vh;
}

// Name and Logo Div

// Menu Options Div

.menu-options-div{
    display: flex;
}

.menu-option{
    padding: 1rem 0.75rem;
    padding-top: 2.5rem;
    font-size: 1.3rem;
}

.menu-option-link{
    color:  black;
    padding: 0.5rem 0.5rem;
    text-decoration: none;
    background-color: transparent;
    border: 1px solid transparent;
    &:hover{
        text-decoration: underline;
        background-color: black;
        color: white;
        box-shadow: 0 0 1rem 0.25rem grey;
    }
}

// Menu Options Div