.header-main-div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
}

// Name and Logo Div

.name-and-logo-div{
    display: flex;
}

.name-div{
    font-size: 4rem;
}

.logo-div{
    padding-top: 1.5rem;
    padding-left: 1rem;
}

.logo{
    height: 7vh;
}

// Name and Logo Div

// Menu Options Div

.menu-options-div{
    display: flex;
}

.menu-option{
    padding: 1rem 0.75rem;
    padding-top: 2.5rem;
    font-size: 1.3rem;
}

.menu-option-link{
    color:  black;
    text-decoration: none;
    &:hover{
        text-decoration: underline;
    }
}

// Menu Options Div