.flowchart-component-main-div {
    width: 95vw;
    margin: auto;
    min-height: 60vh;
}

#circle-icon {
    font-size: 0.75rem;
    padding: 0 1rem;
    position: relative;
    bottom: 0.25rem;
}

.question {
    font-size: 2rem;
    padding: 1rem;
}

.options-section {
    padding: 1rem 3rem;
}

#single-option {
    margin: 1.5rem 1rem;
    font-size: 1.5rem;
    border: 3px solid black;
    border-radius: 1rem;
    text-align: center;

    &:hover {
        cursor: pointer;
        text-decoration: underline;
    }
}