.functionalities-div-main-heading{
    font-size: 4rem;
}

.functionalities-div-sub-heading{
    width: 90vw;
    margin: auto;
    margin-top: 1rem;
    font-size: 2rem;
}

.functionalities-div-card-section{
    padding-top: 5rem;
    display: flex;
    justify-content: space-around;
}

#functionalities-section-card-div{
 border: 1px solid black;
 height: 15rem;
 width: 20rem;
 font-size: 1.17rem;
 box-shadow: 0 0 0.75rem 0.25rem grey;
}