.functionalities-div-main-heading{
    font-size: 4rem;
}

.functionalities-div-sub-heading{
    width: 90vw;
    margin: auto;
    margin-top: 1rem;
    font-size: 2rem;
}

.functionalities-div-card-section{
    padding-top: 5rem;
    display: flex;
    justify-content: space-around;
}

#functionalities-section-card-div{
 height: 17rem;
 width: 22.5rem;
 font-size: 1.17rem;
 box-shadow: 0 0 0.75rem 0.25rem grey;
 margin-bottom: 2.2rem;

 #card-heading{
     font-size: 2rem;
 }

 #card-para{
     font-size: 1.25rem;
     margin: 1rem;
 }
 #card-link{
     color: black;
     button{
         font-size: 1rem;
     }
 }
}