.lawyer-profile-main-div{
    margin: 0 1.5vw;
}

.user-picture-and-name-div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
}

#user-icon{
    font-size: 15rem;
  }

  #bookmark-icon{
    font-size: 2rem;
    padding: 2rem;
    position: relative;
    bottom: 3.5rem;
    left: 2.5rem;
}

.karma-and-ratings-div{
    font-size: 2rem;
    position: relative;
    left: 6rem;
    top: 3rem;
    .ratings-div{
        font-size: 2.5rem;
    }
}

.lawyer-name-and-law-house-div{
    width: 40rem;
    position: relative;
    bottom: 2rem;
    left: 6rem;

    .lawyer-name{
        font-size: 5rem;
    }

    .law-house-div{
        font-size: 2.5rem;
        i{
            margin: 0 1rem;
        }
    }
    .contact-details-div{
        font-size: 2rem;
        margin-top: 1rem;
        i{
            margin: 1rem 1rem;
            padding: 0.5rem;
            border: 2px solid black;
            border-radius: 1rem;
            cursor: pointer;
        }
    }
}

.lawyer-bio-section{
    margin: 1rem 0;

    .bio-section-heading{
        display: flex;
        font-size: 3rem;
    }

    .bio-content{
        text-align: left;
        font-size: 1.5rem;
    }
}

.field-of-expertise-section{
    margin: 1rem 0;
    text-align: left;
    .field-of-expertise-heading{
        display: flex;
        font-size: 3rem;
    }

    #card-tags{
        margin: 0 0.75rem;
        font-size: 1.5rem;
        margin-top: 1rem;
    }
}

.testinomial-section{
    margin: 1rem 0;
    .testinomial-section-heading{
        display: flex;
        font-size: 3rem;
    }
    .testinomial-user-details{
        margin: 1rem 0;
        #testinomial-user-icon{
            font-size: 7rem;
        }
        .testinomial-user-name{
            font-size: 2rem;
            padding: 0.5rem ;
        }
    }
    .testinomial-content{
        font-size: 1.5rem;
        padding: 0.5rem;
    }
}

#queries-section{
    border: 2px solid black;
    border-radius: 2rem;
    .queries-section-heading{
        font-size: 2rem;
        padding-top: 0.5rem;
        border-bottom: 2px solid black;
    }
    .queries-listing-section{
        margin: 1rem 0;
        padding: 0 1rem;
        height: 30rem;
        overflow-x: hidden;
        overflow-y: auto;

        #query-selector{
            margin: 1rem 0;
            min-height: 5rem;
            cursor: pointer;
            text-align: left;
            border: 1px solid black;
            border-radius: 1rem;
            &:hover{
                text-decoration: underline;
            }
        }
    }
}

#lawyer-profile-grid-section{
    height: 34rem;
}

#lawyer-image{
    height: 20rem;
    width: 20rem;
    border: 1px solid black;
    border-radius: 10rem;
}