.contact-us-page-mind-image{
    height: 100vh;
    width: 98vw;
    margin: auto;
    background: url(../../Assets/Images/contactUs.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
}