.contact-us-page-mind-image {
    height: 100vh;
    width: 98vw;
    margin: auto;
    background: url(../../Assets/Images/melbourne.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
}

.contact-us-page-main-heading {
    font-size: 4rem;
}

.contact-us-details-div {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin-top: 10rem;

    .map-div {
        width: 40rem;
        height: 25rem;
        border: 4px solid black;

        img{
            height: 100%;
            width: 100%;
        }
    }

    .location-details-div{
        width: 40rem;
        height: 25rem;
        border: 4px solid black;
        background-color: #ececec;

        .heading{
            font-size: 2rem;
            padding: 2rem;
            padding-top: 1rem;
            text-decoration: underline;
        }

        .address , .Phone-number, .fax-number{
            font-size: 2rem;
            padding: 1rem;
        }
    }
}