// Our Mission Section Rules

.about-us-page-main-heading{
    font-size: 4rem;
}

.about-us-page-main-sub-heading{
    font-size: 1.75rem;
    width: 90vw;
    margin: auto;
}

// Our Mission Section Rules

// About Us Section

.about-us-page-inner-heading{
    font-size: 3.5rem;
}

.about-us-page-inner-para{
    font-size: 1.75rem;
    width: 90vw;
    margin: auto;
}

// About Us Section

// Team Section Rules

.team-div-heading{
    font-size: 3.5rem;
}

.team-div-card-section{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

#about-us-page-card{
    padding-top: 1rem;
    margin: 2rem;
}

#user-icon{
    font-size: 10rem;
}

// Team Section Rules

// Division Divs Rules

.large-division-div{
    border: 1px solid black;
    width: 50vw;
    margin: 0.5rem auto;
}

.small-division-div{
    border: 1px solid black;
    width: 25vw;
    margin: 0.5rem auto;
}

// Division Divs Rules