.footer-main-div{
    width: 97.5vw;
    border: 3px solid black;
    margin: 1rem auto;
    margin-top: 2rem;
    padding: 1rem;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
}

.name-div , .estd-div{
    font-size: 1.5rem;
    #copyrights-logo{
        margin: 0.4rem 0.5rem;
    }
}

.social-media-div{
    font-size: 1.5rem;
    display: flex;
    .social-media-links{
        display: flex;
        margin-left: 1rem;
        i{
            margin: 0 0.5rem;
            font-size: 2.25rem;
        }
    }
}